.mis-reservas-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  
}

.titulo-seccion {
  font-size: 3rem;
  color: #1dc6c3;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem;
}

.reservas-lista {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
  
}

.card-reserva {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: box-shadow 0.3s ease;
  font-size: 1.4rem;
}

.card-reserva:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.nuevas-busquedas {
  margin-top: 3rem;
  text-align: center;
}

.recomendaciones {
  margin-top: 3rem;
}

.recomendaciones-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.reco-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.reco-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.reco-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reco-info h3 {
  margin: 0;
  font-size: 1.7rem;
  color: #333;
}

.reco-info p {
  margin: 0;
  font-size: 1.6rem;
  color: #555;

}

.reco-info button {
  margin-top: auto;
  background-color: #1dc6c3;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
}

.reco-info button:hover {
  background-color: #0077cc;
}

.form-busqueda {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 1rem;
}

.form-busqueda input,
.form-busqueda select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.form-busqueda button {
  padding: 0.5rem 1.2rem;
  background-color: #1dc6c3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

.btn-cancelar {
  margin-top: 10px;
  margin-right: 1rem;
  padding: 6px 12px;
  background-color: #ff4d4f;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
  background-color: #e60000;
}

.btn-checkin {
  background-color: #1dc6c3;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  font-weight: bold;
}

.checkin-realizado {
  color: green;
  font-weight: bold;
  margin-top: 8px;
}
