.register-form-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    
}

.registro-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(191, 39%, 54%, 0.9);
    color: white;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2;
    width: 90%;
    height: 100vh;
    max-width: 400px;

}

.register-form-container form .box{
   width: 100%;
    padding: 0.5rem;
    font-size: 1.7rem;
    color: #333;
    margin: .3rem 0;
    border: .1rem solid rgba(28, 206, 222, 0.988);
    text-transform: none;
}